body {
	margin: 0px;
	background: black;
}

div.loader img {
	height: 100%;
}

div.loader {
	position: absolute;
	background: black;
	z-index: 1000;
	width: 100%;
	height: 100%;
	color: white;
	padding: 0px;
	margin: 0px;
}

div.loader.hide {
	opacity: 0;
	overflow: hidden;
	height: 0;
}

div.loader h1 {
	position: absolute;
	top: 20%;
	left: 10%;
	font-family: cursive;
	font-size: 4em;
}

div.content {
	z-index: -1;
	pointer-events: none;
}

div.content.show {
	z-index: 1;
	pointer-events: inherit;
}

ul {
	list-style: none;
}
li {
	display: inline-block;
	width: 32.8%;
}

div.card {
	width: 200px;
}
ul img {
	width: 100%;
}

div.viewbox .boxitem {
 
   height: 700px;
   left: 50%;
   margin-top: -350px;
   margin-left: -350px;
   position: absolute;
   top: 50%;
   width: 700px; 
	z-index: 1000;
}

div.viewbox img {
	width: 100%;
	height: 100%;
}


.absolute {
	position: absolute;
}

div.card.page p {
	left: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 40%;
	color: white;
	margin: 0;
	font: 2.9rem/1.5em helvetica, arial, sans-serif;
	font-weight: bold;
}

div#display {
	z-index: -999;
	padding: 0px;
	margin: 0px;
	opacity: 0;
	height: 100%;
	width: 100%;
	position: relative;
}

div#display.fixed {
	position: fixed;
}


div#display.show {
	z-index: 999;
	opacity: 1;
}

div#display .container {
	padding-top: 10px;
}

div#display a.back {
	height: 30px;
	width: 30px;
	background: #111;
	color: #BBB;
	text-align: center;
	text-decoration: none;
	z-index: 999;
	position: absolute;
	top: 0px;
	right: 0px;
	font-weigth: bold;
	font-family: sans-serif;
	padding-top: 4px;
}

div#display .backdrop {
	height: 100%;
	width: 100%;
	background: black;
	opacity: 0.66;
	position: fixed;
	top: 0px;
	left: 0px;

}

div#display img.viewer {
	width: 100%;
	height: 100%;
}

div#display .viewbox {
	height: 700px;
	margin-top: -350px;
	margin-left: -350px;
	width: 700px;
	z-index: 999;
	opacity: 1;
	position: absolute;
	top: 50%;
	left: 50%;
}

div.card.vimeo {
	width: 260px;
	height: 260px;
}
