body {
	margin: 0px;
}

div.loader img {
	height: 100%;
}

div.loader {
	position: absolute;
	background: black;
	z-index: 1000;
	width: 100%;
	height: 100%;
	color: white;
	padding: 0px;
	margin: 0px;
}

div.loader.hide {
	-webkit-transition: opacity 1s ease-out;
	opacity: 0;
	overflow: hidden;
	height: 0;
}

div.loader h1 {
	position: absolute;
	top: 20%;
	left: 10%;
	font-family: cursive;
	font-size: 4em;
}

div.content {
	opacity: 0;
	pointer-events: none;
}

div.content.show {
	opacity: 1;
	pointer-events: inherit;
}

ul {
	list-style: none;
}
li {
	display: inline-block;
	width: 32.8%;
}

div.card {
	width: 200px;
}
ul img {
	width: 100%;
}

div.viewbox .boxitem {
 
   height: 700px;
   left: 50%;
   margin-top: -350px;
   margin-left: -350px;
   position: absolute;
   top: 50%;
   width: 700px; 
}

div.viewbox img {
	width: 100%;
	height: 100%;
}

div.viewbox a {
	top: 0px;
	opacity: 0;
	background: red;
	width: 50%;
	height: 100%;
	z-index: 10000;
	position: fixed;
}

div.viewbox a.prev {
	left: 0px;
}

div.viewbox a.next {
	right: 0px;
}

.absolute {
	position: absolute;
}

div.card.page p {
	left: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 40%;
	color: white;
	margin: 0;
	font: 1.9rem/1.5em helvetica, arial, sans-serif;
	font-weight: bold;
}

div#display {
	z-index: -999;
	padding: 0px;
	margin: 0px;
	background: white;
	opacity: 0;
	-webkit-transition: opacity 1s ease-out;
}

div#display.show {
	height: 100%;
	z-index: 999;
	-webkit-transition: opacity 1s ease-out;
	opacity: 1;
}

div#display .container {
	padding-top: 50px;
}

div#display a.back {
	top: 0px;
	position: fixed;
	height: 50px;
	width: 100%;
	background: white;
	color: black;
	text-align: center;
	text-decoration: none;
}

div#display img.viewer {
	width: 100%;
	height: 100%;
}

div#display .viewbox {
	height: 700px;
	left: 50%;
	margin-top: -350px;
	margin-left: -350px;
	position: absolute;
	top: 50%;
	width: 700px;
}
