body {
	margin: 0px;
}

div.loader img {
	height: 100%;
}

div.loader {
	position: absolute;
	background: black;
	z-index: 1000;
	width: 100%;
	height: 100%;
	color: white;
	padding: 0px;
	margin: 0px;
}

div.loader.hide {
	-webkit-transition: opacity 1s ease-out;
	opacity: 0;
	overflow: hidden;
	height: 0;
}

div.loader h1 {
	position: absolute;
	top: 20%;
	left: 10%;
	font-family: cursive;
	font-size: 4em;
}

div.content {
	display: none;
}

div.content.show {
	display: inherit;
}

ul {
	list-style: none;
}
li {
	display: inline-block;
	width: 32.8%;
}

div.card {
	width: 200px;
}
ul img {
	width: 100%;
}

div.viewbox .boxitem {
 
   height: 700px;
   left: 50%;
   margin-top: -350px;
   margin-left: -350px;
   position: absolute;
   top: 50%;
   width: 700px; 
}

div.viewbox img {
	width: 100%;
	height: 100%;
}

div.viewbox a {
	top: 0px;
	opacity: 0;
	background: red;
	width: 50%;
	height: 100%;
	z-index: 10000;
	position: fixed;
}

div.viewbox a.prev {
	left: 0px;
}

div.viewbox a.next {
	right: 0px;
}

.absolute {
	position: absolute;
}

div.card.page p {
	left: 0;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 40%;
	font-size: 6em;
	color: white;
	margin: 0;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
}
