---
layout: front
title: Sonja Sandström
---
<div class="loader">
	<h1>Sonja Sandström</h1>
</div>
<div class="content">
	<ul>
	{% for card in site.data.cards %}
		<li>
			{% if card.type == "photo" %}
				<div class="card photo" data-link="imgs/{{ card.background }}" >
					<a href="imgs/{{ card.background }}">
						<img src="imgs/thumbs/{{ card.background }}" alt="{{ card.name }}" />
					</a>
				</div>
			{% endif %}
			{% if card.type == "vimeo" %}
				<div class="card vimeo" >
					<iframe src="//player.vimeo.com/video/{{ card.vimeo }}" width="200" height="133" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
				</div>
			{% endif %}
		</li>
	{% endfor %}

	</ul>
<div id="container">
	
</div>                                                      
</div>
