<!doctype>
<html>
	<head>
		<link href="css/style.css" rel="stylesheet" />
		<link href="css/pages.css" rel="stylesheet" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" CONTENT="Kvinnlig filmfotograf, kamera- elassistent i Stockholm">
		<meta charset="utf-8">
		<title>""Filmfotograf Sonja Sandström"</title>
	</head>
	<body>
		<section>
		{{ content }}
		</section>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script src="scripts/grid.js"></script>
		<script src="scripts/action.js"></script>
		<script src="scripts/navi.js"></script>

	</body>
</html>
<meta charset="utf-8">
    	
    
