<!doctype>
<html>
	<head>
		<link href="/css/style.css" rel="stylesheet" />
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<section>
		{{ content }}
		</section>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
		<script src="scripts/grid.js"></script>
		<script src="http://localhost:35729/livereload.js"></script>
	</body>
</html>
